@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=latin,cyrillic-ext);
@import url(http://allfont.ru/allfont.css?fonts=officinasanswinctt-bold);
.contain {
  width: 1180px;
  padding: 0 10px;
  min-width: 1180px;
  position: relative;
  display: block;
  margin: 0 auto; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

.g-row {
  margin: 0 -10px; }
  .g-row:after {
    clear: both; }
  .g-row:before, .g-row:after {
    display: table;
    content: " "; }

.g-col-12 {
  width: 100%; }

.g-col-11 {
  width: 91.66666667%; }

.g-col-10 {
  width: 83.33333333%; }

.g-col-9 {
  width: 75%; }

.g-col-8 {
  width: 66.66666667%; }

.g-col-7 {
  width: 58.33333333%; }

.g-col-6 {
  width: 50%; }

.g-col-5 {
  width: 41.66666667%; }

.g-col-4 {
  width: 33.33333%; }

.g-col-3 {
  width: 25%; }

.g-col-2 {
  width: 16.66666667%; }

.g-col-1 {
  width: 8.33333333%; }

.g-col-1,
.g-col-2,
.g-col-3,
.g-col-4,
.g-col-5,
.g-col-6,
.g-col-7,
.g-col-8,
.g-col-9,
.g-col-10,
.g-col-11,
.g-col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .g-col-1:before, .g-col-1:after,
  .g-col-2:before,
  .g-col-2:after,
  .g-col-3:before,
  .g-col-3:after,
  .g-col-4:before,
  .g-col-4:after,
  .g-col-5:before,
  .g-col-5:after,
  .g-col-6:before,
  .g-col-6:after,
  .g-col-7:before,
  .g-col-7:after,
  .g-col-8:before,
  .g-col-8:after,
  .g-col-9:before,
  .g-col-9:after,
  .g-col-10:before,
  .g-col-10:after,
  .g-col-11:before,
  .g-col-11:after,
  .g-col-12:before,
  .g-col-12:after {
    display: table;
    content: " "; }
  .g-col-1:after,
  .g-col-2:after,
  .g-col-3:after,
  .g-col-4:after,
  .g-col-5:after,
  .g-col-6:after,
  .g-col-7:after,
  .g-col-8:after,
  .g-col-9:after,
  .g-col-10:after,
  .g-col-11:after,
  .g-col-12:after {
    clear: both; }

* {
  padding: 0;
  margin: 0; }

html {
  margin-top: 0;
  padding-top: 0;
  height: 100%; }

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block-title {
  font-size: 30px;
  text-align: center;
  color: #222;
  font-weight: 200; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.location__marker {
  display: block;
  float: left;
  width: 15px;
  height: 20px;
  background-image: url("../img/marker-location.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px; }

.moscow-metro__marker {
  display: inline-block;
  width: 13px;
  height: 9px;
  margin-right: 5px;
  background-image: url("../img/moscow-m.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.clock--icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px; }

.phone--icon {
  width: 10px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 10px;
  background-image: url("../img/icone-phone.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.stock--icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../img/stock-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  margin-bottom: -4px; }

.size--icon {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  background-image: url("../img/Layer-32.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  vertical-align: middle; }

.lock--icon {
  display: inline-block;
  width: 32px;
  height: 33px;
  background-image: url("../img/Layer-33.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  vertical-align: middle; }

.time--icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../img/Layer-30.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  vertical-align: middle; }

.sale-icon {
  color: #FFF;
  text-align: center;
  background-image: url("../img/Layer-393.png");
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  background-position: 50% 0;
  padding-top: 15px;
  font-size: 12px; }

.hit-icon {
  display: inline-block;
  width: 39px;
  height: 41px;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-right: 15px;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  vertical-align: middle; }

.price-icon {
  display: inline-block;
  height: 33px;
  width: 29px;
  background-image: url("../img/Layer-56.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -5px; }

.price-list--icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 34px;
  height: 21px;
  background-image: url("../img/Layer-67.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
  font-style: normal; }

.ribbon-wrapper {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  top: -5px;
  left: -5px; }
  .ribbon-wrapper .ribbon {
    font-size: 18px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 15px 0;
    top: 10px;
    left: -50px;
    width: 180px;
    background: #fec553;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fec553, #f6e3a0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fec553, #f6e3a0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fec553, #f6e3a0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fec553, #f6e3a0);
    /* Standard syntax */ }

.swiper-container {
  width: 100%;
  height: 530px;
  margin: 20px auto; }

.swiper-wrapper {
  margin-top: 10px;
  height: 490px;
  margin-bottom: 50px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 33.33333%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide:before, .swiper-slide:after {
    display: table;
    content: " "; }
  .swiper-slide:after {
    clear: both; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  width: 31px;
  height: 31px;
  background-color: #f54747;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-size: 35%; }

.swiper-button-next {
  background-image: url("../img/Shape1copy11.png") !important;
  background-position: 50% 50%; }

.swiper-button-prev {
  background-image: url("../img/Shape1copy10.png") !important;
  background-position: 50% 50%;
  left: 0;
  width: 31px;
  height: 31px;
  background-color: #f54747;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-size: 35%; }

.swiper-button-next, .swiper-button-prev {
  margin-top: -17px; }

.swiper-container-horizontal > .swiper-scrollbar {
  bottom: 15px; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1; }

.swiper-container-horizontal > .swiper-scrollbar {
  height: 7px; }

.swiper-scrollbar-drag {
  height: 11px;
  margin-top: -2px;
  background-color: #222;
  background-image: url("../img/Shape1copy7.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.navigation {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #484848;
  height: 61px; }
  .navigation--stock {
    display: inline-block;
    float: left;
    position: relative;
    top: -3px;
    height: 67px;
    line-height: 67px;
    left: 0;
    color: #fff; }
    .navigation--stock a {
      color: #fff;
      display: block;
      float: left;
      width: 100%;
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #F64747;
      z-index: 999;
      position: relative;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .navigation--stock a:before, .navigation--stock a:after {
        display: table;
        content: " "; }
      .navigation--stock a:after {
        clear: both; }
      .navigation--stock a:hover {
        background-color: #f41616; }
    .navigation--stock:before {
      content: "";
      display: block;
      position: absolute;
      left: -6px;
      top: 0px;
      height: 61px;
      border: 3px solid transparent;
      border-right: 3px solid #414141; }
    .navigation--stock:after {
      content: "";
      display: block;
      position: absolute;
      right: -6px;
      top: 0px;
      height: 61px;
      border: 3px solid transparent;
      border-left: 3px solid #414141; }
  .navigation ul {
    display: block;
    float: left;
    padding: 0;
    padding: 0 25px;
    margin-top: 10px; }
    .navigation ul li {
      display: block;
      float: left; }
      .navigation ul li a {
        font-size: 14px;
        padding: 10px 25px;
        color: #fff;
        display: block;
        z-index: 9;
        position: relative; }
        .navigation ul li a:hover {
          color: #797979; }
      .navigation ul li > a:after {
        content: "▼";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        bottom: -5px;
        color: #797979; }
      .navigation ul li > a:only-child:after {
        content: ""; }
      .navigation ul li:hover > ul {
        display: inherit; }
    .navigation ul ul {
      display: none;
      position: absolute;
      background-color: #484848;
      top: 40px;
      /* the height of the main nav */
      padding: 20px 10px 0;
      margin: 0;
      z-index: 1; }
      .navigation ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative; }
  .navigation .navigation__left {
    border-right: 1px solid #5c5c5c; }

.header {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  height: 100px;
  line-height: 100px; }
  .header__logo {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-right: 80px; }
    .header__logo a {
      text-decoration: none; }
      .header__logo a h3 {
        font-weight: 900;
        margin: 0;
        color: #222;
        font-size: 34px;
        letter-spacing: -1px; }
      .header__logo a p {
        color: #A1A1A1;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center; }
  .header__adress, .header__time {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-right: 50px; }
    .header__adress p, .header__time p {
      font-size: 16px;
      color: #222;
      padding-bottom: 5px; }
    .header__adress small, .header__time small {
      font-size: 13px;
      color: #8C8C8C;
      display: block;
      margin-left: 25px; }
  .header__time small {
    margin-left: 30px; }
  .header__phone {
    display: inline-block;
    line-height: normal;
    vertical-align: middle; }
    .header__phone h3 {
      font-family: "OfficinaSansWinCTT Bold", arial;
      font-size: 26px;
      color: #222;
      margin: 0 30px 15px 0; }
  .header__ordercall {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin: 0 0 15px; }
    .header__ordercall a {
      color: #222;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-style: dotted; }
      .header__ordercall a:hover {
        color: #F64747; }

.about-company {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px; }
  .about-company .about-company__wrap {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    padding: 35px 50px;
    border: 3px solid #ededed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .about-company .about-company__wrap:before, .about-company .about-company__wrap:after {
      display: table;
      content: " "; }
    .about-company .about-company__wrap:after {
      clear: both; }
  .about-company h1.block-title {
    margin-top: -55px;
    display: block;
    float: left;
    width: 100%; }
    .about-company h1.block-title span {
      background-color: #fff;
      padding: 0 25px; }
  .about-company p {
    text-align: center;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 600; }

.products {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  .products h1.block-title {
    display: block;
    float: left;
    width: 100%;
    color: #fff;
    position: absolute;
    z-index: 9;
    margin-top: -15px; }
    .products h1.block-title span {
      background-color: #484848;
      padding: 5px 25px;
      border: 3px solid #ededed; }
  .products__item {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border: 3px solid #ededed;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 45px 25px 25px; }
    .products__item:before, .products__item:after {
      display: table;
      content: " "; }
    .products__item:after {
      clear: both; }
    .products__item h3 {
      text-align: center;
      font-weight: 400;
      display: block;
      float: left;
      width: 100%;
      font-size: 25px;
      margin-top: -63px; }
      .products__item h3 span {
        background-color: #FFF;
        padding: 5px 20px; }
    .products__item img {
      width: 100%; }
    .products__item--desc {
      display: block;
      float: left;
      width: 100%;
      height: 340px; }
      .products__item--desc ul li {
        padding-left: 25px;
        margin-bottom: 25px;
        font-size: 14px;
        color: #5A5A5A;
        background-image: url("../img/Shape.png");
        background-position: 0 50%;
        background-repeat: no-repeat; }
    .products__item--info {
      display: block;
      float: left;
      position: absolute;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      bottom: 0;
      padding: 25px 20px;
      background-color: #FFF8DD;
      border: 2px solid #FD5; }
      .products__item--info:before, .products__item--info:after {
        display: table;
        content: " "; }
      .products__item--info:after {
        clear: both; }
      .products__item--info--line {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        line-height: 33px; }
        .products__item--info--line p {
          display: block;
          font-size: 14px;
          color: #5A5A5A;
          vertical-align: middle;
          line-height: normal; }
        .products__item--info--line:last-of-type {
          margin-bottom: 0; }
  .products__price {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    float: left;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFF8DD;
    border-bottom: 3px solid #FD5;
    padding: 15px;
    text-align: center;
    align-items: center; }
    .products__price:before, .products__price:after {
      display: table;
      content: " "; }
    .products__price:after {
      clear: both; }
    .products__price h4 {
      font-size: 30px;
      color: #222;
      font-weight: 300;
      margin: 0 10px; }
    .products__price a {
      display: block;
      padding: 15px 35px;
      font-size: 16px;
      color: #fff;
      margin: 0 10px;
      text-decoration: none;
      background-color: #F64747;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .products__price a:hover {
        background-color: #f41616; }

.discounts {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 15px 0 100px; }
  .discounts__item {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border: 3px solid #f64747;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .discounts__item:before, .discounts__item:after {
      display: table;
      content: " "; }
    .discounts__item:after {
      clear: both; }
    .discounts__item--content {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      height: 460px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 35px 20px 0; }
      .discounts__item--content:before, .discounts__item--content:after {
        display: table;
        content: " "; }
      .discounts__item--content:after {
        clear: both; }
      .discounts__item--content h4 {
        font-size: 25px;
        color: #000;
        text-align: center;
        margin-bottom: 10px; }
      .discounts__item--content p {
        text-align: center;
        color: #000;
        font-size: 16px;
        margin-bottom: 35px; }
      .discounts__item--content--lock {
        display: block;
        float: left;
        position: relative;
        width: 100%;
        height: 155px;
        border: 1px solid #fd5;
        background-color: #FFF;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px 10px; }
        .discounts__item--content--lock:before, .discounts__item--content--lock:after {
          display: table;
          content: " "; }
        .discounts__item--content--lock:after {
          clear: both; }
        .discounts__item--content--lock--img {
          display: block;
          float: left;
          position: relative;
          width: 100%;
          height: 85px;
          overflow: hidden; }
          .discounts__item--content--lock--img img {
            min-width: 100%;
            height: auto;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
          .discounts__item--content--lock--img img {
            max-height: 80%;
            max-width: 80%;
            min-width: 80%; }
        .discounts__item--content--lock p {
          margin-bottom: 0;
          font-size: 12px;
          text-align: left;
          color: #5A5A5A; }
          .discounts__item--content--lock p b {
            color: #000;
            margin-bottom: 5px;
            display: block; }
    .discounts__item--price {
      height: 125px;
      width: 100%;
      float: left;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: #FFF;
      padding-top: 20px; }
      .discounts__item--price h4 {
        font-size: 30px;
        color: #222;
        font-weight: 300;
        margin: 0 10px; }
        .discounts__item--price h4 strike {
          color: #5A5A5A; }
      .discounts__item--price a {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #fff;
        background-color: #484848;
        padding: 15px 30px;
        text-decoration: none;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .discounts__item--price a:hover {
          background-color: #2f2f2f; }
      .discounts__item--price p {
        font-weight: 200;
        font-size: 16px;
        color: #F64747;
        margin: 5px 10px; }
    .discounts__item--bg1 {
      background-image: url("../img/Layer-129.png");
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0; }
    .discounts__item--bg2 {
      background-image: url("../img/Layer-59.png");
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-color: #F8F8F8; }

.prepared {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #F9F9F9;
  padding: 30px 0; }
  .prepared h1 {
    font-weight: 200; }
  .prepared__item {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    padding: 25px 0;
    margin-bottom: 15px;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .prepared__item--img {
      display: block;
      float: left;
      width: 100%;
      height: 350px; }
      .prepared__item--img img {
        max-width: 100%;
        max-height: 100%; }
    .prepared__item h3 {
      display: none;
      position: absolute;
      width: 100%;
      padding: 15px 0;
      background-color: rgba(246, 89, 89, 0.9);
      color: #fff;
      top: 40%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 25px;
      z-index: 9; }
    .prepared__item--desc {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      height: 85px;
      padding: 0;
      text-align: center; }
      .prepared__item--desc p {
        color: #000;
        font-size: 16px;
        text-decoration: underline;
        margin-bottom: 30px; }
      .prepared__item--desc h4 {
        font-size: 25px;
        color: #000;
        margin: 0; }
    .prepared__item:hover {
      border: 2px solid #F64747; }
      .prepared__item:hover h3 {
        display: block; }

.construction {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 30px 0 90px;
  border-bottom: 1px solid #ffdd55; }
  .construction__item {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0 5px; }
    .construction__item h3 {
      text-align: center;
      font-weight: 400;
      display: block;
      float: left;
      width: 100%;
      margin-bottom: -15px;
      z-index: 9;
      position: relative; }
      .construction__item h3 span {
        background-color: #FFF;
        padding: 5px 20px; }
    .construction__item h4 {
      text-align: center;
      font-weight: 400;
      font-size: 25px; }
    .construction__item p {
      color: #5A5A5A;
      text-align: center;
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 30px;
      font-size: 14px; }
    .construction__item--img {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      height: 280px;
      border: 3px solid #EDEDED;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      margin-bottom: 25px; }
      .construction__item--img img {
        max-height: 80%;
        max-width: 80%;
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .construction__item--img h5 {
        display: none;
        position: absolute;
        width: 100%;
        padding: 15px 0;
        background-color: rgba(246, 89, 89, 0.9);
        color: #fff;
        top: 50%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 25px;
        z-index: 9; }
      .construction__item--img:hover {
        border: 3px solid #f64747; }
        .construction__item--img:hover h5 {
          display: block; }

/*# sourceMappingURL=style.css.map */
