.navigation {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #484848;
	height: 61px;
	&--stock {
		display: inline-block;
		float: left;
		position: relative;
		top: -3px;
		height: 67px;
		line-height: 67px;		
		left: 0;		
		color: #fff;
		a {
		    color: #fff;
			display: block;
			float: left;
			width: 100%;
			padding: 0 20px;
			@include inside-pad;
			background-color: #F64747;
			z-index: 999;
			position: relative;
			@include transition(.2s);
			&:hover {
				background-color: darken(#F64747, 10%);
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -6px;
			top: 0px;
			height: 61px;
			border: 3px solid transparent;
			border-right: 3px solid #414141;			
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			right: -6px;
			top: 0px;
			height: 61px;
			border: 3px solid transparent;
			border-left: 3px solid #414141;			
		}
		
	}
	ul {
		display: block;
		float: left;
		padding: 0;
		padding: 0 25px;
		margin-top: 10px;
		li {
			display: block;
			float: left;
			a {
				font-size: 14px;
				padding: 10px 25px;
				color: #fff;
				display: block;
			    z-index: 9;
			    position: relative;
			    &:hover {
			    	color: #797979;
			    }
			}
			> a:after {
				content: "▼";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				font-size: 10px;
				bottom: -5px;
				color: #797979;
			}
			> a:only-child:after {
				content: "";
			}
			&:hover {
				> ul {
					display:inherit;
				}
			}
		}
		ul {
			display: none;
			position: absolute; 
			background-color: #484848;
			top: 40px; /* the height of the main nav */
		    padding: 20px 10px 0;
			margin: 0;
			z-index: 1;
			li {
				width:170px;
				float:none;
				display:list-item;
				position: relative;
			}
		}
	}
	.navigation__left {
		border-right: 1px solid #5c5c5c;
	}
}