.about-company {
	display: block;
	float: left;
	position: relative;
	width: 100%;	
	margin-top: 60px;
	margin-bottom: 30px;	
	.about-company__wrap {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 35px 50px;
		border: 3px solid #ededed;
		@include inside-pad;
	}
	h1.block-title {
	    margin-top: -55px;
		display: block;
		float: left;
		width: 100%;
		span {
			background-color: #fff;
			padding: 0 25px;
		}
	}
	p {
		text-align: center;
		color: #5A5A5A;
		font-size: 14px;
		font-weight: 600;
	}
}

.products {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	h1.block-title {
	    //margin-top: -55px;
		display: block;
		float: left;
		width: 100%;
		color: #fff;
		position: absolute;
		z-index: 9;
		margin-top: -15px;
		span {
			background-color: #484848;
			padding: 5px 25px;
			border: 3px solid #ededed;
		}
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		border: 3px solid #ededed;
		border-bottom: 0;
		@include inside-pad;
		padding: 45px 25px 25px;
		h3 {
			text-align: center;
			font-weight: 400;
			display: block;
			float: left;
			width: 100%;
			font-size: 25px;
			margin-top: -63px;
			span {
				background-color: #FFF;
				padding: 5px 20px;
			}
		}
		img {
			width: 100%;
		}
		&--desc {
			display: block;
			float: left;
			width: 100%;
			height: 340px;
			ul {
				li {
					padding-left: 25px;
					margin-bottom: 25px;
					font-size: 14px;
					color: #5A5A5A;
					background-image: url('../img/Shape.png');
					background-position: 0 50%;
					background-repeat: no-repeat;
				}
			}
		}
		&--info {
			display: block;
			float: left;
			position: absolute;
			width: 100%;
			@include inside-pad;
			bottom: 0;
			padding: 25px 20px;
			background-color: #FFF8DD;
			border: 2px solid #FD5;
			&--line {
				display: block;
				float: left;
				width: 100%;
				position: relative;
				margin-bottom: 25px;
			    line-height: 33px;
				p {
					display: block;
					font-size: 14px;
					color: #5A5A5A;
					vertical-align: middle;
					line-height: normal;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&__price {
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		float: left;
		position: relative;
		width: 100%;
		@include inside-pad;
		background-color: #FFF8DD;
		border-bottom: 3px solid #FD5;
		padding: 15px;
		text-align: center;
	    align-items: center;
		h4 {
			font-size: 30px;
			color: #222;
			font-weight: 300;
			margin: 0 10px;
		}
		a {
			display: block;
			padding: 15px 35px;
			font-size: 16px;
			color: #fff;
			margin: 0 10px;
			text-decoration: none;
			background-color: #F64747;
			@include transition(.2s);
			&:hover {
				background-color: darken(#F64747, 10%);
			}
		}
	}
}

.discounts {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 15px 0 100px;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		border: 3px solid #f64747;
		@include inside-pad;
		&--content {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 460px;
			@include inside-pad;
			padding: 35px 20px 0;
			h4 {
				font-size: 25px;
				color: #000;
				text-align: center;
				margin-bottom: 10px;
			}
			p {
				text-align: center;
				color: #000;
				font-size: 16px;
				margin-bottom: 35px;
			}
			&--lock {
				display: block;
				float: left;
				position: relative;
				width: 100%;
				height: 155px;
				border: 1px solid #fd5;
				background-color: #FFF;
				margin-bottom: 5px;
				@include inside-pad;
				padding: 15px 10px;
				&--img {
					display: block;
					float: left;
					position: relative;
					width: 100%;
					height: 85px;
					@include overflow-img;
					img {
						max-height: 80%;
						max-width: 80%;
					    min-width: 80%;
					}
				}
				p {
					margin-bottom: 0;
					font-size: 12px;
					text-align: left;
					color: #5A5A5A;
					b {
						color: #000;
						margin-bottom: 5px;
						display: block;
					}
				}
			}
		}
		&--price {
			height: 125px;
			width: 100%;
			float: left;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			background-color: #FFF;
			padding-top: 20px;
			h4 {
				font-size: 30px;
				color: #222;
				font-weight: 300;
				margin: 0 10px;
				strike {
					color: #5A5A5A;
				}
			}
			a {
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
				color: #fff;
				background-color: #484848;
				padding: 15px 30px;
				text-decoration: none;
				@include transition(.2s);
				&:hover {
					background-color: darken(#484848, 10%);
				}
			}
			p {
				font-weight: 200;
				font-size: 16px;
				color: #F64747;
			    margin: 5px 10px;
			}
		}
		&--bg1 {
			background-image: url('../img/Layer-129.png');
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			    background-repeat: no-repeat;
			    background-position: 50% 0;
		}
		&--bg2 {
			background-image: url('../img/Layer-59.png');
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			    background-repeat: no-repeat;
			    background-position: 50% 0;
			    background-color: #F8F8F8;
		}
	}
}

.prepared {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #F9F9F9;
	padding: 30px 0;
	h1 {
		font-weight: 200;
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		border: 2px solid transparent;
		padding: 25px 0;
		margin-bottom: 15px;
		text-decoration: none;
		@include transition(.2s);
		&--img {
			display: block;
			float: left;
			width: 100%;
			height: 350px;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		h3 {
			display: none;
			position: absolute;
			width: 100%;
			padding: 15px 0;
			background-color: rgba(246, 89, 89, .9);
			color: #fff;
			top: 40%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			font-size: 25px;
			z-index: 9;
		}
		&--desc {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 85px;
			padding: 0;
			text-align: center;
			p {
				color: #000;
				font-size: 16px;
				text-decoration: underline;
				margin-bottom: 30px;
			}
			h4 {
				font-size: 25px;
				color: #000;
				margin: 0;
			}
		}
		&:hover {
			border: 2px solid #F64747;
			h3 {
				display: block;
			}
		}
	}
}

.construction {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 30px 0 90px;	
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin: 25px 0 5px;
		h3 {
			text-align: center;
			font-weight: 400;
			display: block;
			float: left;
			width: 100%;
			margin-bottom: -15px;
			z-index: 9;
			position: relative;
			span {
				background-color: #FFF;
				padding: 5px 20px;
			}
		}
		h4 {
			text-align: center;
			font-weight: 400;
			font-size: 25px;
		}
		p {
			color: #5A5A5A;
			text-align: center;
			display: block;
			float: left;
			width: 100%;
			margin-bottom: 30px;
			font-size: 14px;
		}
		&--img {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 280px;
			border: 3px solid #EDEDED;
			@include transition(.2s);	
			margin-bottom: 25px;		
			img {
			    max-height: 80%;
			    max-width: 80%;
			    display: block;
			    position: relative;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%, -50%);
			       -moz-transform: translate(-50%, -50%);
			        -ms-transform: translate(-50%, -50%);
			         -o-transform: translate(-50%, -50%);
			            transform: translate(-50%, -50%);
			    
			}			
			h5 {
				display: none;
				position: absolute;
				width: 100%;
				padding: 15px 0;
				background-color: rgba(246, 89, 89, .9);
				color: #fff;
				top: 50%;
				text-align: center;
				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				     -o-transform: translateY(-50%);
				        transform: translateY(-50%);
				font-size: 25px;
				z-index: 9;
			}
			&:hover {
				border: 3px solid #f64747;
				h5 {
					display: block;
				}
			}
		}
	}
}

.whyweare {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #FFF8DD;
	background-image: url('../img/Layer-764.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	padding: 55px 0 60px;
	border-top: 1px solid #ffdd55;
	border-bottom: 1px solid #ffdd55;
	h1 {
		margin-bottom: 25px;
	}
	&__wrap {
		overflow: hidden;
	}
	&__grid {
		display: flex;
		flex-wrap: wrap;

		// Hide superfluous border
	    margin: 0 -21px -21px -20px;
		list-style: none;
		padding: 0;
		&__item {
			flex: 1 0 20%;
			height: 200px;
			//border-right: 1px solid #e3ddc5;	
			margin: 20px 0;
			border-right: 1px solid #e3ddc5;
			// background-color: #FbFbFb;
		}
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: calc(100% - 40px);
		height: 200px;
		
		border-bottom: 1px solid #e3ddc5;
		@include inside-pad;
	    margin: 25px 20px;
	    &--img {
	    	height: 100px;
	    	display: block;
	    	float: left;
	    	position: relative;
	    	width: 100%;
	    	img {
	    		position: relative;
	    		max-height: 100%;
	    		max-width: 100%;
	    		top: 50%;
	    		left: 50%;
	    		-webkit-transform: translate(-50%, -50%);
	    		   -moz-transform: translate(-50%, -50%);
	    		    -ms-transform: translate(-50%, -50%);
	    		     -o-transform: translate(-50%, -50%);
	    		        transform: translate(-50%, -50%);
	    	}
	    }
	    p {
	    	display: block;
	    	float: left;
	    	position: relative;
	    	padding: 0 40px;
	    	text-align: center;
	    	font-size: 16px;
	    	color: #000;
	    	margin-top: 15px;
	    }
	}
	
}

.samples {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 60px 0 40px;
	h1 {
		margin-bottom: 25px;
		a {
			position: absolute;
			right: 0;
			font-size: 16px;
			color: #222;
			text-decoration: underline;
			margin-top: 10px;
			i {
				color: #F64747;
				margin-right: 10px;
				font-size: 23px;
			}
		}
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 280px;
		&--img {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 100%;
			@include overflow-img;
		}
		&--desc {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 20px;
			background-color: rgba(71, 71, 71, .9);
			p {
				text-align: center;
				color: #FFF;
				font-size: 14px;
			}
		}
	}
}

.connection {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	background-image: url('../img/Layer-102.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	.connection__link {
		
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 15px;
		a {		
			display: block;
			width: 32%;	
			padding: 20px 25px;
			background-color: #484848;
			margin: 0 auto;
			font-size: 25px;
			font-weight: 400;
			color: #FFF;
			text-align: center;
			@include transition(.2s);
			&:hover {
				background-color: darken(#484848, 10%);
			}
		}
	}
	small {
		position: relative;
		overflow: hidden;
		display: block;
		float: left;
		width: 100%;
		span {
	        display: block;
	        vertical-align: baseline;
	        zoom: 1;
	        *display: inline;
	        *vertical-align: auto;
	        position: relative;
	        padding: 0 20px;
	        color: #A52724;
	        font-size: 14px;
	        font-weight: 400;
			text-align: center;
			width: 40px;
			margin: 15px auto;
	        &:before, &:after {
	            content: '';
	            display: block;
	            width: 1000px;
	            position: absolute;
	            top: 0.73em;
	            border-top: 1px solid red;
	        }

	        &:before { right: 100%; }
	        &:after { left: 100%; }
	    }
	}
	h4 {
		font-size: 25px;
		text-align: center;
		color: #A52724;
		font-weight: 400;
		margin: 10px 0;
	}
	h3 {
		font-weight: bold;
		text-align: center;
		color: #FFF;
		font-size: 30px;
		margin-top: 5px;
	}
}

.sitemap {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 45px 0 30px;
	background-color: #FAFAFA;
	&--parent {
		color: #5A5A5A;
		font-size: 16px;
		margin-bottom: 10px;
		text-decoration: underline;
		display: block;
		float: left;
		width: 100%;
	}
	ul {
		margin-top: 15px;
		display: block;
    	float: left;
		li {
			margin-bottom: 15px;
		}
	}
	&--child {
		color: #222;
		font-size: 14px;
		text-decoration: underline;
	}
	&--contacts {
		margin-top: 30px;
	}
}