.location__marker {
	display: block;
	float: left;
	width: 15px;
	height: 20px;
	background-image: url('../img/marker-location.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
}

.moscow-metro__marker {
	display: inline-block;
	width: 13px;
	height: 9px;
	margin-right: 5px;
	background-image: url('../img/moscow-m.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.clock--icon {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background-image: url('../img/clock.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
}

.phone--icon {
	width: 10px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 10px;
	background-image: url('../img/icone-phone.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.stock--icon {
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url('../img/stock-icon.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
	margin-bottom: -4px;
}

.size--icon {
	display: inline-block;
	float: left;
	width: 32px;
	height: 32px;
	background-image: url('../img/Layer-32.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
    vertical-align: middle;
}

.lock--icon {
	display: inline-block;
	width: 32px;
	height: 33px;
	background-image: url('../img/Layer-33.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
    vertical-align: middle;
}

.time--icon {
	display: inline-block;
	width: 33px;
	height: 33px;
	background-image: url('../img/Layer-30.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 10px;
	vertical-align: middle;
}

.sale-icon {
	color: #FFF;
	text-align: center;
	background-image: url('../img/Layer-393.png');
	background-repeat: no-repeat;
	width: 41px;
	height: 41px;
	background-position: 50% 0;
	padding-top: 15px;
	font-size: 12px;
}

.hit-icon {
	display: inline-block;
	width: 39px;
	height: 41px;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	margin-right: 15px;
	background-image: url('../img/hit.png');
	background-repeat: no-repeat;
	vertical-align: middle;
}

.price-icon {
	display: inline-block;
	height: 33px;
	width: 29px;
	background-image: url('../img/Layer-56.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 10px;
	vertical-align: middle;
    margin-top: -5px;
	
}

.price-list--icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 34px;
	height: 21px;
	background-image: url('../img/Layer-67.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #FFF;
	font-size: 12px;
	text-align: center;
	line-height: 21px;
	font-style: normal;
}

.ribbon-wrapper {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  top: -5px;
  left: -5px;
  .ribbon {
    font-size: 18px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 15px 0;
    top: 10px;
    left: -50px;
    width: 180px;
    background: #fec553; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fec553, #f6e3a0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fec553, #f6e3a0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fec553, #f6e3a0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fec553, #f6e3a0); /* Standard syntax */
  }
}
.prepared {
	.swiper-container {
	    width: 100%;
	    height: 560px;
	    margin: 20px auto;
	}
	.swiper-wrapper {
		margin-top: 10px;
		height: 490px;
		margin-bottom: 50px;
	}
	.swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    width: 1 / 3 * 100%;
	    padding-right: 30px;
		padding-left: 30px;
		@include inside-pad;
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}

	// .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	//     //background-image: url('../img/Shape1copy11.png');
	//     right: 0;
	//     left: auto;
	//     width: 31px;
	//     height: 31px;
	//     background-color: #f54747;
	//     @include border-radius(50%);
	//     background-size: 35%;
	// }

	// .swiper-button-next {
	// 	background-image: url('../img/Shape1copy11.png')!important;
	// 	background-position: 50% 50%;
	// }

	// .swiper-button-prev {
	// 	background-image: url('../img/Shape1copy10.png')!important;
	// 	background-position: 50% 50%;
	// 	left: 0;
	//    	width: 31px;
	//     height: 31px;
	//     background-color: #f54747;
	//     @include border-radius(50%);
	//     background-size: 35%;
	// }

	// .swiper-button-next, .swiper-button-prev {
	// 	margin-top: -17px;
	// }

	// .swiper-container-horizontal>.swiper-scrollbar {
	// 	bottom: 15px;
	// }

	// .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	// 	opacity: 1;
	// }

	// .swiper-container-horizontal>.swiper-scrollbar {
	// 	height: 7px;
	// }
	// .swiper-scrollbar-drag {
	// 	height: 11px;
	// 	margin-top: -2px;
	// 	background-color: #222;
	// 	background-image: url('../img/Shape1copy7.png');
	// 	background-repeat: no-repeat;
	// 	background-position: 50% 50%;
	// }
}

.samples {
	.samples-swiper-container {	
		@extend .swiper-container;	
	    width: 100%;
	    height: 360px;
	    margin: 20px auto;
	}
	.swiper-wrapper {
		margin-top: 10px;
		height: 280px;
		margin-bottom: 50px;
	}
	.swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    width: 1 / 4 * 100%;
	    padding-right: 10px;
		padding-left: 10px;
		@include inside-pad;
			    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}


}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    //background-image: url('../img/Shape1copy11.png');
    right: 0;
    left: auto;
    width: 31px;
    height: 31px;
    background-color: #f54747;
    @include border-radius(50%);
    background-size: 35%;
}

.swiper-button-next {
	background-image: url('../img/Shape1copy11.png')!important;
	background-position: 50% 50%;
}

.swiper-button-prev {
	background-image: url('../img/Shape1copy10.png')!important;
	background-position: 50% 50%;
	left: 0;
   	width: 31px;
    height: 31px;
    background-color: #f54747;
    @include border-radius(50%);
    background-size: 35%;
}

.swiper-button-next, .swiper-button-prev {
	margin-top: -17px;
}

.swiper-container-horizontal>.swiper-scrollbar {
	bottom: 15px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: 1;
}

.swiper-container-horizontal>.swiper-scrollbar {
	height: 7px;
}
.swiper-scrollbar-drag {
	height: 11px;
	margin-top: -2px;
	background-color: #222;
	background-image: url('../img/Shape1copy7.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.new-swiper-scrollbar {
	@extend .swiper-scrollbar;
}
.new-swiper-button-next {
	@extend .swiper-button-next;
}
.new-swiper-button-prev {
	@extend .swiper-button-prev;
}
